<h1>Guests</h1>
<p>Find me in app/views/guests/index.html.erb</p>

<%= link_to "Add Guest", new_guest_path, class: 'btn-sm btn-info' %>

<div class="container">
	<h2>Attendance</h2>
	Invited: <%= @guests.count %><br>
	Attending: <%= @attending.count %><br>
	Not Attending: <%= @not_attending.count %><br>
	Unconfirmed: <%= @unconfirmed.count %><br>
</div>

<hr>


<div class="container">
	<% if @guests %>
		
			<% (0...@guests.length).each do |i| %>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<a class="btn btn-primary" role="button" data-toggle="collapse" href="#<%= @guests[i].id %>" aria-expanded="false" aria-controls="collapseExample">
						  <span class="glyphicon glyphicon-plus"></span>
						</a>

						<strong><%=@guests[i].last %>, <%= @guests[i].first %></strong>
					</div>

					<div class="col-xs-12 col-sm-3">
						<%= form_for @guests[i] do |g| %>
						  <%= g.select :rsvp, ['Unconfirmed', 'Attending', 'Not Attending'] %>
						  <%= g.submit "Update" %>
						<% end %>
					</div>

					<div class="col-xs-12 col-sm-3">
						<%= link_to "Edit", edit_guest_path(@guests[i]), class: 'btn-sm btn-primary' %>
						<%= link_to "Delete", guest_path(@guests[i]), method: :delete, class: 'btn-sm btn-danger' %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="collapse container" id=<%= @guests[i].id %>>
							<div>
								<%= @guests[i].address %><br>
								<%= @guests[i].city %>, <%= @guests[i].state %> <%= @guests[i].zip %>
							</div>
							<div><%= @guests[i].phone %></div>
						</div>
					</div>
				</div>


			<hr>		
			<% end %>

	<% else %>
		No guests listed.
	<% end %>
</div>


