<h1>Guests</h1>
<p>Find me in app/views/guests/index.html.erb</p>

<%= link_to "Add Guest", new_guest_path, class: 'btn-sm btn-info' %>

<% if @guests %>
	
		<% (0...@guests.length).each do |i| %>
			<div>
				<div><strong><%=@guests[i].last %>, <%= @guests[i].first %></strong></div>
			
				<div><%= @guests[i].address %></div>
				<div><%= @guests[i].rsvp %></div>
			</div>
			<div class="container">
				<%= link_to "Edit", edit_guest_path(@guests[i]), class: 'btn-sm btn-primary' %>
			</div>
		<hr>		
		<% end %>

<% else %>
	No guests listed.
<% end %>

Attending: <%= @attending.count %>
Not Attending: <%= @not_attending.count %>
Unconfirmed: <%= @unconfirmed.count %>