<h1>Guests</h1>
<p>Find me in app/views/guests/index.html.erb</p>

<%= link_to "Add Guest", new_guest_path, class: 'btn-sm btn-info' %>

<div class="container">
<h2>Attendance</h2>
Attending: <%= @attending.count %><br>
Not Attending: <%= @not_attending.count %><br>
Unconfirmed: <%= @unconfirmed.count %><br>
</div>

<div class="container">
	<% if @guests %>
		
			<% (0...@guests.length).each do |i| %>
				<div>
					<div><strong><%=@guests[i].last %>, <%= @guests[i].first %></strong></div>
				
					<div><%= @guests[i].address %></div>
					<div><%= @guests[i].rsvp %></div>

					<%= bootstrap_form_for @guests[i] do |g| %>
					  <%= g.select :rsvp, ['Unconfirmed', 'Attending', 'Not Attending'] %>
					  <%= g.submit "Update" %>
					<% end %>

				</div>
				<div class="container">
					<%= link_to "Edit", edit_guest_path(@guests[i]), class: 'btn-sm btn-primary' %>
					<%= link_to "Delete", guest_path(@guests[i]), method: :delete, class: 'btn-sm btn-danger' %>
				</div>
			<hr>		
			<% end %>

	<% else %>
		No guests listed.
	<% end %>
</div>
