<h1>Guests#new</h1>
<p>Find me in app/views/guests/new.html.erb</p>

<div class="container">


	<%= bootstrap_form_for @guest do |g| %>
	  <%= g.text_field :first, :required => true %>
	  <%= g.text_field :last %>
	  <%= g.text_field :phone %>
	  <%= g.text_field :address %>
	  <%= g.text_field :city %>
	  <%= g.text_field :state %>
	  <%= g.text_field :zip %>
	  <%= g.submit "Add" %>
	<% end %>


 
</div>