<h1>Venues</h1>

<div class="container">
	<%= link_to "Add Venue", new_venue_path, class: 'btn btn-info' %>
</div>

<div class="container">
	<% if @venues.count > 0 %>
		
			<% (0...@venues.length).each do |i| %>
				<div>
					<div><strong><%=@venues[i].name %></strong></div>
				
					<div>
						<%= @venues[i].address %></br>
						<%= @venues[i].city %>, <%= @venues[i].state %> <%= @venues[i].zip %></br>
						<%= @venues[i].phone %>
					</div>
				</div>
				<div>
					<img src=<%= @venues[i].img %>>
				</div>
				<div class="container">
					<%= link_to "Edit", edit_venue_path(@venues[i]), class: 'btn btn-primary' %>
					<%= link_to "Delete", venue_path(@venues[i]), method: :delete, class: 'btn btn-danger' %>
				</div>
			<hr>		
			<% end %>

	<% else %>
		No venues listed.
	<% end %>
</div>
